body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ece8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 225, 249);
    align-items: center;
    justify-content: center;
    width: 100%;  
    height: 100%;
}

.numbers {
    display: flex;
    align-items: center;
}

.numbers span{
    font-size: 44px;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    justify-content: center;
    padding: 10px;
}

button{
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 1px solid gray;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 15px;
}


.red{
background-color: rgb(242, 34, 34);
}
.green{
background-color: rgb(72, 207, 72);
}
.white{
background-color: rgb(166, 169, 171);
}

#saved{
    display: flex;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    color: gray;
    width: 30%;
    height: 80px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.timeSaved{
    margin: 10px 10px;
    width: 75px;
}